@import 'tailwindcss';

@plugin "daisyui" {
  themes: light --default, dark;
  /* make variable of dark and place it in theme-change.js */
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --secondary: #F5F5F5;
  --secondary-content: #D1D5DB;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --secondary: #F5F5F5;
  --secondary-content: #D1D5DB;
}

/* Modifications to daisyUI classes */
.btn-primary {
  @apply shadow-none transition-all duration-300 transform;

  &:hover {
    @apply shadow-lg shadow-primary/30 scale-103;
  }
}